<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>楽曲レコメンドアプリ</title>
</head>
<body>

    <h1>楽曲レコメンドアプリ</h1>
    <form action="/recommend" method="post" id="exerciseForm">
    <label>ムードを選択</label>
    <div class="button-group group1">
    <button type="button" class="button01">happy</a> <!-- happy -->
    <button type="button" class="button01">sad</a> <!-- sad -->
    <button type="button" class="button01">relaxed</a> <!-- relaxed -->
    <button type="button" class="button01">energetic</a> <!-- energetic -->
    </div>
    <input type="hidden" name="mood" id="moodInput">

    <label>運動量を選択</label>
        <div class="button-group group2">
    <button type="button" class="button01">ウォーキング</a> <!-- happy -->
    <button type="button" class="button01">ジョギング</a> <!-- sad -->
    <button type="button" class="button01">ランニング</a> <!-- relaxed -->
    </div>
    <input type="hidden" name="exercise" id="exerciseInput">
    <button type="submit">送信</button><!--これは後で-->
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <form action="/recommend" method="post">
    <label for="volume">音量を選択:</label>
    <input type="range" id="volume" name="volume" min="0" max="100" value="50">
    <span id="volumeValue">50</span>

    <button type="submit">送信</button>
    </form>


    <form action="/recommend" method="post">
        <label>曲名を選択してください：</label>
        <select name="song">
            {% for t in titles %}
                <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>
        <button type="submit">推薦する</button>
    </form>
</body>
</html>
